{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About BT Real Estate</h1>
          <p class="lead">As the top independent family-owned and operated real estate company based in Massachusetts, BTRE is consistently ranked among the top real estate brokerages in the country. We are 100% privately owned and operated... and we plan to stay that way. Our locally based leadership team lives and works in the communities we serve. We strive to provide the best-in-class service to the home buyers and sellers.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %} ">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">BTRE always works hard to provide quality customer service to our members!</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">BTRE provides quality one-stop real estate and mortgage services to our customers and clients. These services include: residential and commercial sales and leases, mortgage financing, relocation services, appraisal services and property management.

            We adhere strictly to the ethics of the National Association of Realtors ® which call for the highest standards, responsibility, accountability and professional integrity.
            
            </p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for mvp_realtor in mvp_realtors %}
              <div class="card">
                <img class="card-img-top" src="{{mvp_realtor.photo.url}}" alt="Realtor of the month">
                <div class="card-body">
                  <h5 class="card-title">Realtor Of The Month</h5>
                  <h6 class="text-secondary">{{mvp_realtor.name}}</h6>
                  <p class="card-text">{{mvp_realtor.name}} is known for humanizing the home buying experience while using technology to the fullest.
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>BTRE always works hard to provide quality customer service to our members!</h4>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
            <div class="col-md-4">
              <img src="{{realtor.photo.url}}" alt="{{realtor.name}}" class="rounded-circle mb-3">
              <h4>Jenny Johnson</h4>
              <p class="text-success">Realtor</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{realtor.phone}}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            No Realtors Available
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}